*.exe filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
benchmarks/ramdisk.img filter=lfs diff=lfs merge=lfs -text
benchmarks/ram_init/bin2ram filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-as filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcc-ranlib filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcov filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-readelf filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-objdump filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-strip filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-ar filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-cc filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-c++filt filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-elfedit filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gdb filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-size filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-strings filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-ct-ng.config filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcov-tool filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-ld filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-nm filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-ranlib filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-addr2line filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-c++ filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcc-nm filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcc filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcc-5.2.0 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-objcopy filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-cpp filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-g++ filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-gcc-ar filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/bin/mips-pdp-elf-ld.bfd filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/cc1plus filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/collect2 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/install-tools filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/lto1 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/cc1 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/liblto_plugin.so filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/liblto_plugin.so.0 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/liblto_plugin.so.0.0.0 filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/lto-wrapper filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/libexec/gcc/mips-pdp-elf/5.2.0/plugin filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/strip filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/ar filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/ld filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/ld.bfd filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/nm filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/objdump filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/ranlib filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/as filter=lfs diff=lfs merge=lfs -text
compiler/mips-pdp-elf/mips-pdp-elf/bin/objcopy filter=lfs diff=lfs merge=lfs -text
